<div class="main-content">
    <h1>ACTIVITY DASHBOARD</h1>
    <br>
    <h3>Status: Preview<h3>
    <br>
    <p>This dashbaord will show you your recent activity - recipes added to your libraries or attempt records, pictures etc of any of your recipes - as well as that of your friends who opt-into sharing.</p>
    <br>
    <p>NOTE: This tool is not currently intended to be a social media tool, and sharing isn't really the point of this, so the algorithm here will likely remain very simple as the site progresses.</p>
</div>