<div class="main-content">
    <h1>FRIENDS LIST</h1>

    <h3>Status: Preview<h3>

    <p>From here, you'll be able to see a list of your friends as well as manage your friends list and friend-specific settings. You'll also be able to find other users, view their profiles and connect with new friends!</p>
</div>
