<div class="main-content">
    <h1>YOUR RECIPES</h1>

    <h3>Status: Preview<h3>

    <p>From here, you'll be able to see a list of your saved recipes. By clicking on any recipe, you can open a view for it, and even edit or possible even version it if you are the owner. You'll also have links to browse a library of public recipes that you can add to your collection, and to a new recipe input form to save an originally-authored or lovingly-copied recipe to your public or private library.</p>
    
</div>