<div class="main-content">
    <h1>YOUR RECIPES</h1>
    <br>
    <h3>Status: Preview<h3>
    <br>
    <p>From here, you'll be able to see a list of your saved recipes. By clicking on any recipe, you can open a view for it, and even edit or possibly even version it if you are the owner. You'll also have links to browse a library of public recipes that you can add to your collection, and to a new recipe input form to save an originally-authored or lovingly-copied recipe to your public or private library.</p>
    <br>
    <h3>Try it out!</h3>
    <%= link_to "CREATE A RECIPE", "/recipes/new" %><br>
    <br>

    <h3>Browse Public Recipes</h3>
    <% @public_recipes.each do |recipe| %>
        <h4><%= link_to "#{recipe.link_name}", "/recipes/#{recipe.id}" %></h4>
    <% end %>

    <% if logged_in? %>
        <h3>Your Authored Recipes</h3>
        <% if @authored_recipes.empty? %>
            <p>You haven't added any recipes</p>
        <% else %>
            <% @authored_recipes.each do |recipe| %>
                <h4><%= link_to "#{recipe.link_name}", "/recipes/#{recipe.id}" %></h4>
            <% end %>
        <% end %>

        <h3>Your Saved Recipes</h3>
        <% @user_recipes.each do |recipe| %>
            <h4><%= link_to "#{recipe.link_name}", "/recipes/#{recipe.id}" %></h4>
        <% end %>
    <% end %>
    
</div>