<nav class="nav-bar">
    <span>
    <ul class="nav-items">
        <li>
            <img class="project-logo" src="/assets/images/nav_bar_logo.png" default="Project Logo Image">
        </li>
        <li class="nav-bar-link" id="nbltd">
            <a class="link-to-dashboard" href="/dashboard">HOME</a>
        </li>
        <li class="nav-bar-link" id="nbltr">
            <a class="link-to-recipes" href="/recipes">RECIPES</a>
        </li>
        <li class="nav-bar-link" id=nbltf>
            <a class="link-to-friends" href="/friends">FRIENDS</a>
        </li>
        <li class="nav-bar-link" id=nblo>
            <a class="link-to-logout" href="/logout">LOG OUT</a>
        </li>
    </ul>
    </span>
</nav>