<div class='nested-fields'>
    <div class='field'>
        <%# "Object in Nested Form: #{f&.object || 'nil'}" %>
        <%= f.text_field :name, placeholder: "Ingredient Name" %>
    </div>
    <%= link_to_remove_association "remove ingredient", f %>
</div>