<div class="system-messages">
    <span class="system-error">
        <p><%= flash[:error] %></p>
    </span>
    <span class="system-message">
        <p><%= flash[:message] %></p>
    </span>
</div>