<div class="system-messages">
    <div class="system-error" style="display: <%= error ? "block" : "none"%>">
        <p><%= error %></p>
    </div>
    <div class="system-message" style="display: <%= message ? "block" : "none" %>">
        <p><%= message %></p>
    </div>
</div>